@font-face {
  font-family: 'lunchtype22regular';
  src: url('/fonts/lunchtype22-regular-webfont.woff') format('woff2'),
       url('/fonts/lunchtype22-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  padding-top: 85px;

  font-family: 'lunchtype22regular';
}

header.navbar-container {
  width: 100%;
  background-color: #212529;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;

  z-index: 999;
}

header.navbar-container .logo a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  margin: 20px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li a {
  color: #909090;
  margin: 15px;
  text-decoration: none;
}

header.navbar-container .cv-button a {
  background-color: #ffd500;
  color: black;
  border-radius: 999px;
  padding: 10px 25px;
  margin: 10px;
  text-decoration: none;
}

.cv-button a:hover {
  background-color: #212529;
  color: white;
  transition: all .15s ease-in-out;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main #content #introduction {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main #content #introduction h1, img {
  margin: 20px;
}

main #content #introduction .intro-text h1{
  color: white;
  background-color: black;
  border-radius: 999px;
  padding: 15px;
}

aside {
  width: 20%;
}

main #content #introduction {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer.footer {
  background-color: #212529;
  display: flex;
  justify-content: space-around;
}

footer.footer form {
  margin-top: 30px;
}

footer.footer #submit {
  font-size: 1.1rem;
  background-color: #ffd500;
  border-radius: 999px;
  padding: 10px 55px;
  margin: 25px 0px;
}

footer.footer .input-field {
  background-color: #212529;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
  margin: 15px;
}

footer.footer .input-field::placeholder {
  color: white;
  font-size: 1.1rem;
}

footer.footer .social-media h1, h2 {
  color: white;
}

footer.footer .social-media h2 {
  color: white;
  font-size: 0.8rem;
}

footer.footer .social-media p {
  color: #909090;
}

footer.footer .social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

footer.footer .social-media li {
  list-style-type: none;
  flex: 1;
}

footer.footer .social-media ul li a {
  text-decoration: none;
  color: white;
}

footer.footer #submit:hover {
  background-color: #212529;
  color: white;
  transition: all .15s ease-in-out;
  border-radius: 999;
}

.foto-diri img {
  width: 400px;
}