@font-face {
  font-family: 'lunchtype22regular';
  src: url('/fonts/lunchtype22-regular-webfont.woff') format('woff2'),
       url('/fonts/lunchtype22-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  padding-top: 115px;

  font-family: 'lunchtype22regular';
}

header.navbar-container {
  width: 100%;
  background-color: #212529;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 75px;
  gap: 9rem;

  z-index: 999;
}

header.navbar-container .logo a {
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
}

nav a {
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  display: flex;
  list-style-type: none;
  gap: 5rem;
  padding: 0;
}

header.navbar-container .nav-list ul li a {
  color: #909090;
  text-decoration: none;
}

header.navbar-container .cv-button a {
  background-color: #ffd500;
  color: black;
  border-radius: 999px;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 1.3rem;
}

header.navbar-container .cv-button a:hover {
  background-color: #212529;
  color: white;
  transition: all .15s ease-in-out;
  /* kasih border */
}

main {
  display: flex;
  flex-direction: column;

  gap: 4rem;
}

main #content #introduction {
  display: flex;
  align-items: center;
  justify-content: center ;
  margin-bottom: 40px;
  gap: 8rem;
}

main #content #introduction .foto-diri img {
  padding-right: 0px;
  height: 400px;
  border-radius: 999px;
}

main #content #introduction h1, img {
  margin: none;
  padding: none;
}

main #content #introduction h1 {
  color: white;
  background-color: #212529;
  border-radius: 999px;
  padding: 20px 20px;
}

main #content #introduction h2 {
  color: black;
  background-color: #ffd500;
  border-radius: 999px;
  padding: 20px 20px;
}

main #content #about-me {
  display: flex;
  justify-content: center;
}

main #content #about-me .text {
  width: 20%;
  margin: 0px 10px;
}

main #content #about-me .text h1 {
  font-size: 2rem;
}

main #content #about-me .text p {
  color: #909090;
  font-size: 1.3rem;
  line-height: 1.5;
}

main aside {
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 6rem;
}

main aside .aside-text {
  padding: 50px 0px;
}

main aside .aside-text h1 {
  font-size: 2.3rem;
}

main aside .aside-text p {
  width: 300px;
  font-size: 1.2rem;
  line-height: 1.8;
}

main aside .aside-img img {
  height: 445px;
  border-radius: 50px;
}

main aside table {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
}

main aside table td {
  padding-left: 20px;
}

footer.footer {
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

footer.footer .form h1 {
  color: white;
}

footer.footer .submit-button {
  display: flex;
  justify-content: end;
}

footer.footer #submit {
  font-size: 1.1rem;
  background-color: #ffd500;
  border-radius: 999px;
  padding: 10px 55px;
  margin: 25px 0px;
}

footer.footer .input-field {
  background-color: #212529;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
  margin: 15px;
  width: 600px;
}

footer.footer .input-field::placeholder {
  color: white;
  font-size: 1.2rem;
}

footer.footer .social-media h1, h2 {
  color: white;
}

footer.footer .social-media p {
  font-size: 1.5rem;
}

footer.footer .social-media h2 {
  color: white;
  font-size: 1.6rem;
}

footer.footer .social-media a {
  font-size: 2rem;
}

footer.footer .social-media p {
  color: white;
  line-height: 0.5;
}

footer.footer .social-media h1 {
  margin-bottom:40px;
}

footer.footer .social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

footer.footer .social-media li {
  list-style-type: none;
  flex: 1;
}

footer.footer .social-media ul li a {
  text-decoration: none;
  color: #ffd500;
}

footer.footer #submit:hover {
  background-color: #212529;
  color: white;
  transition: all .15s ease-in-out;
  border-radius: 999;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

/* Extra Large devices (1279px and down) */
@media screen and (max-width: 1279px) {
  header.navbar-container {
    justify-content: space-around;
    gap: 0;
  }

  header.navbar-container .logo {
    margin: 0;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 2rem;
  }

  main #content #introduction {
    gap: 1.5rem;
  }

  main #content #introduction .intro-text h1, h2 {
    font-size: 20px;
  }

  main aside .aside-img img {
    height: 350px;
    width: auto;
  }

  footer.footer {
    flex-flow: column wrap;
    gap: 1rem;
    padding-bottom: 55px;
  }

  footer.footer .form {
    margin-left: 100px;
  }

  footer.footer .form .submit-button {
    width: 100%;
    justify-content: left;
  }

  footer.footer .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer.footer .social-media h1 {
    margin: 10px 0px;
  }

  footer.footer .social-media ul {
    display: flex;
    gap: 3rem;
    margin-top: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
  body {
    padding-top: 200px;
  }

  header.navbar-container {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    height: 180px;
    gap: 0.6rem;
  }

  header.navbar-container .logo a {
    margin: 0;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 3.5rem;
    margin: 0;
  }

  header.navbar-container .cv-button {
    margin-top: 1rem;
    padding-bottom: 10px;
  }

  main #content #introduction {
    flex-flow: column wrap;
  }

  main #about-me {
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }

  main #content #about-me .text {
    width: 60%;
    text-align: center;
  }

  main aside {
    flex-flow: column wrap;
    gap: 1rem;
    padding-bottom: 40px;
  }

  main aside .aside-text {
    margin: auto;
    padding: 0;
  }

  main aside .aside-img {
    order: -1;
    padding-top: 60px;
  } 

  footer.footer {
    flex-flow: column wrap;
  }

  footer.footer .form .input-field {
    width: 300px;
  }

  footer.footer .form .submit-button {
    width: 100%;
    justify-content: left;
  }

  footer.footer .social-media {
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
  }

  footer.footer .social-media p {
    line-height: 1.15;
  }

  footer.footer .social-media ul {
    padding-top: 50px;
  }
}

/* Small devices (mobile phones, 480px and down) */
@media screen and (max-width: 480px) {
  main #content #introduction {
    gap: 2rem;
  }

  main #content #introduction .intro-text h1, h2 {
    font-size: 1.1rem;
  }

  main aside {
    gap: 0;
  }

  main aside .aside-text {
    padding: 0;
  }

  main aside .aside-text {
    word-wrap: break-word;
  }

  footer.footer .form {
    margin: 0px 40px;
  }

  footer.footer .form .input-field {
    width: 70%;
  }

  footer.footer .social-media p {
    font-size: 20px;
  }

  footer.footer .social-media ul {
    padding: 0;
  }
}
